
/* General Styles */

html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

*, 
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px black solid;
}

h1 {
    padding: 0;
    margin: 1em;
}

div {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

/* Game Area Styles */

.game {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3em;
}

.game-player {
    margin-top: 1em;
    font-size: 48px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid black;
}

.highlight-player {
    background-color: rgb(189, 241, 240);
}

/* Board Game Styles */

.game-board {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.game-board-spot {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 84px;
}

.borderBR {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.borderR {
    border-right: 5px solid black;
}

.borderB {
    border-bottom: 5px solid black;
}

.hoverOnSpot:hover {
    background-color: grey;
}

/* Game Controls Styles */

.game-controls {
    margin-top: 1em;
    border: 1px solid blue;
}

.form-start-game {
    text-align: center;
}

.form-start-game-opponent {
    font-size: large;
}

input {
    text-align: center;
    font-size: large;
    margin-bottom: 1em;
}

label {
    font-size: large;
}

/* Game Messages Styles */

.game-messages {
    margin-top: 1em;
    border: 1px solid blue;
    text-align: center;
    white-space: pre-line;
}